<p id="notice"><%= notice %></p>

<h1>Offers</h1>

<table>
  <thead>
    <tr>
      <th>Advertiser name</th>
      <th>Url</th>
      <th>Description</th>
      <th>Starts at</th>
      <th>Ends at</th>
      <th>State</th>
      <th>Premium</th>
      <th>Actions</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @offers.each do |offer| %>
      <% offer_decorated = OfferDecorator.new(offer) %>
      <%= render partial: 'offer', locals: { offer: offer_decorated } %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Offer', new_offer_path %>
